.contedor-dashboard{
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
  background: #f5f6fa;
  border-radius: 20px;

}

.grid-stack{
  min-height: 100%;
}

.contedor-dashboard::-webkit-scrollbar {
  display: none;
}


.grid-stack-item-content {
  background: white;
  border-radius: 18px;
  box-shadow:
    0 4px 8px rgba(0,0,0,0.08),
    0 2px 4px rgba(0,0,0,0.06);
  padding: 1rem;
  overflow: hidden;
  transition: transform .2s;
  height: 100%;
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.grid-stack-item-content:hover {
  transform: translateY(-6px);
}

.cargando {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  color: #aaa;
  font-size: 1rem;
}

.spin {
  animation: girar 1s linear infinite;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
